@{
    ViewBag.Title = "About";
}
    <div class="jumbotron jumbotron-fluid text-center" style="background: rgb(5,162,149);background: linear-gradient(172deg, rgba(5,162,149,1) 22%, rgba(45,108,223,1) 48%, rgba(0,13,103,1) 100%);color:lightgrey">
        <div class="container">
            <h1 class="display-4">About Us</h1>
            <h2 class="lead"></h2>
        </div>
    </div>

        <div class="row">
            <div class="col-md-6">
                <span>About Our University</span>
                <h2>Welcome to Education Website</h2>
                <p>The ISB, was established in March 1977 under an act of the Provincial Assembly of Sindh after upgrading of the former ISB, which was set up in 1921. The ISB is thus one of the oldest institution in Pakistan for teaching and producing Engineering graduates. Prior to this, the D.J.Sindh College , used to run classes to train subordinates for the Sindh P.W.D., the Municipalities and Local Boards.</p>
                <p>The first-full time Principal of ISB was Mr. G.N.Gokhale who joined on 1st July 1923. Prior to this, Rai Sahib Bhupatrai had acted as Honorary Principal. The first professor (and Vice Principal) was Mr. S.B. Jannarkar who, along with Mr. Gokhale, did all the spadework in organizing and equipping the various departments and ordering the equipment for the Power House, Boiler Room, Hydraulics Laboratory, Engine Room and Machine Shops.</p>
            </div>
            <div class="col-md-6">
                <img class="img-rounded img-responsive" src="~/images/woman-standing-in-hallway-while-holding-book-1462630.jpg" alt="Alternate Text" />
            </div>
        </div>
        <p>The original ISB was housed in four blocks of buildings and two sheds. The main block was named as Seth Fatehchand Dewandas Khilnani Hall. The block housing the Power House, Electrical and Hydraulics Laboratories, and Workshops was named after Bai Puribai and Bacharbai. Further additions were made to this block to provide accommodation for the Machine Shop on the ground floor and a (Mechanical) Drawing Hall on the first floor. The fourth block, completed in 1945, contained a Classroom and Clerk's Office on the ground floor and another (Civil) Drawing Hall on the first floor.</p>
        <p>Two sheds were also built, one to house the Carpentry and Smithy Shops, and the other, alongside the Electrical Laboratory and Engine Room, to train technicians. The total cost of the buildings was just over Rs. 265,000 and the cost of equipment (including machinery, electrical instruments; models, steam, gas and oil engines; surveying and leveling instruments), books and furniture was just under Rs. 400,000. The college remained affiliated to the University of Bombay from its inception in 1922 to 1947, after which it was taken over by the Government of Sindh; renamed as ISB and affiliated to the University of Sindh. After establishment of the University of Karachi in 1951, the affiliation of the College was transferred to this University. In 1964 a comprehensive plan was prepared to shift the college from its location in the congested downtown area (where no expansion was possible) to a new site adjoining the University of Karachi. The project was carried out with the assistance of the World Bank which provided Rs.118 millions in two phases and the College was shifted to its new 40 hectare Main Campus in 1975.</p>
        <div class="row">
            <div class="col-md-8">
                <img src="~/Content/four-football-players-standing-on-green-grass-field-1369500.jpg" class="img-responsive img-rounded" alt="Alternate Text" />
            </div>
            <div class="col-md-4">
                <img src="~/Content/c1.jpg" class="img-responsive img-rounded mt-2" alt="Alternate Text" />
                <img src="~/Content/row-of-books-in-shelf-256541.jpg" class="img-responsive img-rounded mt-2" alt="Alternate Text" />
            </div>
        </div>
